{% extends 'base.html.twig' %}

{% block title %}Ingestor index{% endblock %}

{% block body %}
    <div class="p-7 w-screen">
        <h1 class="font-bold text-2xl">Ingestor Settings</h1>
        <p>Ingestors are the datasources that provide information to IntelHub</p>
        <table class="w-full text-sm text-left mt-5">
            <thead class="text-xs text-gray-700 uppercase bg-[#DAFFEC]">
            <tr>
                {% for header in col %}
                    <th class="py-4 px-6"> {{ header }} </th>
                {% endfor %}
                <th class="py-3 px-6"></th>
            </tr>
            </thead>
            <tbody>

            {% for ingestor in ingestors %}
                <tr class=" border-b hover:bg-gray-50">
                    <td class="py-4 px-6"> {{ ingestor.name }} </td>
                    <td class="py-4 px-6"> {{ ingestor.type }} </td>
                    <td class="py-4 px-6"> {{ ingestor.sourceType }} </td>
                    <td class="py-4 px-6"> {{ ingestor.active }} </td>
                    <td class="py-4 px-6">
                        {#                        <a href="" class="font-medium text-blue-600 hover:underline">See</a> #}
                        <a href="{{ path('app_ingestor_edit', {'id': ingestor.id}) }}"
                           class="font-medium text-blue-600 hover:underline">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_ingestor_new') }}">Create new</a>
    </div>

{% endblock %}
