{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex items-center justify-center h-screen">
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post">
                {{ form_start(registrationForm) }}
                <div class="mb-4">
                    {{ form_row(registrationForm.username, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                </div>
                <div class="mb-4">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                </div>
                <div class="mb-6">
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
                </div>
                <div class="mb-6">
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': ''}}) }}
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-purple-500 hover:bg-purple-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                        Sign Up
                    </button>
                </div>
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="flex items-center justify-between">

                        <div class="alert text-red-600" role="alert">{{ flash_error }}</div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>

{% endblock %}
