{% extends 'base.html.twig' %}

{% block title %}Aircraft index{% endblock %}

{% block body %}
    <h1>Aircraft Database</h1>

    <table class="table-auto w-full">
        <thead>
        <tr class="bg-gray-300">
            <th class="px-4 py-2 w-1/4">ICAO</th>
            <th class="px-4 py-2 w-1/4">Registration</th>
            <th class="px-4 py-2 w-1/4">Model</th>
            <th class="px-4 py-2 w-1/4">Country</th>
            <th class="px-4 py-2 w-1/4">Military</th>
            {% if is_granted('ROLE_ADMIN', app.user) %}
                <th class="px-4 py-2 w-1/4">Edit</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for aircraft in aircrafts %}
            <tr class="bg-gray-100 text-center">
                <td class="border px-4 py-2 w-1/4">{{ aircraft.icao }}</td>
                <td class="border px-4 py-2 w-1/4">{{ aircraft.registration }}</td>
                <td class="border px-4 py-2 w-1/4">{{ aircraft.model }}</td>
                <td class="border px-4 py-2 w-1/4">{{ aircraft.country }}</td>
                <td class="border px-4 py-2 w-1/4">
                    {% if aircraft.isIsMilitary == 1 %}
                        <span class="rounded-full p-2 bg-green-500 text-white">Yes</span>
                    {% else %}
                        <span class="rounded-full p-2 bg-red-500 text-white">No</span>
                    {% endif %}
                </td>
                {% if is_granted('ROLE_ADMIN', app.user) %}
                    <td class="border px-4 py-2 w-1/4">
                        <a href="{{ path('app_aircraft_edit', {'id': aircraft.id}) }}"
                           class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Edit
                        </a>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ pagerfanta(aircrafts) }}
{% endblock %}
