<!DOCTYPE html>
<html>
<head>
    <title>IntelHub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<div class="flex h-screen">
    <div class="w-1/12 px-4 py-2 bg-blue-500">
        <h1 class="text-white font-bold text-2xl text-center">IntelHub</h1>
        <ul class="mt-4">
            <li class="text-white mb-2">
                <a href="{{ path('index') }}"><i class="fas fa-home mr-2"></i> Home</a>
            </li>
            {% if app.user %}
                <li class="text-white mb-2">
                    <i class="fas fa-envelope mr-2"></i> Settings
                    <ul class="mt-2 pl-1">
                        <li class="text-white mb-2">
                            <i class="fas fa-inbox mr-2"></i> Ingestors
                        </li>
                    </ul>
                </li>



                <li class="text-white mb-2">
                    <a href="{{ path('app_logout') }}"><i class="fas fa-home mr-2"></i> Logout</a>
                </li>

            {% else %}
                <li class="text-white mb-2">
                    <a href="{{ path('app_login') }}"><i class="fas fa-home mr-2"></i> Login</a>
                </li>
                <li class="text-white mb-2">
                    <a href="{{ path('app_register') }}"><i class="fas fa-home mr-2"></i> Signup</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="w-11/12">
        <div class="flex justify-between items-center bg-blue-500">
            <div class="text-white font-bold">{{ app.user.username | default('Guest') }}</div>
            {% if app.user %}
                <img src="https://picsum.photos/200/300" alt="user avatar" class="w-8 h-8 rounded-full">
            {% endif %}
        </div>
        <div class="mt-4">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
